body, html {
    height: 100% !important;
}

body, h1, h2, h3, h4, h5 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

h3 {
    margin: 20px 0 !important;
}

.button {
    background: #2659ad; /* Old browsers */
    background: -moz-linear-gradient(top, #2659ad 0%, #1c51a8 50%, #124aa5 51%, #013fa3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #2659ad 0%,#1c51a8 50%,#124aa5 51%,#013fa3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #2659ad 0%,#1c51a8 50%,#124aa5 51%,#013fa3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2659ad', endColorstr='#013fa3',GradientType=0 ); /* IE6-9 */
    display: block;
    padding: 9px 12px 7px;
    font-family: Arial,sans-serif;
    font-size: 12px;
    cursor: pointer;
    font-weight: 700;
    border: 1px solid #0f3d89;
    border-bottom: 1px solid #0f3d89;
    color: #eff4f8 !important;
    text-shadow: -1px -1px 0 rgba(2,42,147,.6);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(49,57,63,.4), 0 1px 0 rgba(255,255,255,.3) inset;
    -moz-box-shadow: 0 1px 2px rgba(49,57,63,.4),0 1px 0 rgba(255,255,255,.3) inset;
    box-shadow: 0 1px 2px rgba(49,57,63,.4), 0 1px 0 rgba(255,255,255,.3) inset;
}

.wi100 {
	width: 100% !important;
}

.descLogin {
	font-size: 12px;
    color: #00407d;
    padding-bottom: 25px;
    display: block;
}

.login-form {
  width: 100%;
  max-width: 475px;
  padding: 40px 30px;
  background: rgba(255, 255, 255, 0.75);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: 350px !important;
  -webkit-box-shadow: 0px 0px 46px 4px rgba(17,32,94,0.35);
  -moz-box-shadow: 0px 0px 46px 4px rgba(17,32,94,0.35);
  box-shadow: 0px 0px 46px 4px rgba(17,32,94,0.35);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.logoMamae {
	margin: 0 auto;
	display: block;
	padding-bottom: 30px;
    width: 175px;
}

.fa {
	font-size: 15px !important;
}

.form-group {
  position: relative;
  margin-bottom: 15px;
}

.form-group .fa {
  position: absolute;
  right: 15px;
  top: 10px;
  color: #999;
}

.log-status.wrong-entry .form-control, .wrong-entry .form-control + .fa {
  border-color: #ed1c24;
  color: #ed1c24;
}

.form-control {
	font-size: 12px;
}

.form-control {
  width: 100%;
  border: none;
  padding: 5px 7px 5px 15px;
  background: #fff;
  color: #00407d;
  border: 2px solid #b0c6da;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.form-control:focus, .form-control:focus + .fa {
  border-color: #00407d;
  color: #00407d;
}

.log-status.wrong-entry {
  -moz-animation: wrong-log 0.3s;
  -webkit-animation: wrong-log 0.3s;
  animation: wrong-log 0.3s;
}

.log-status.wrong-entry .form-control, .wrong-entry .form-control + .fa {
  border-color: #ed1c24;
  color: #ed1c24;
}

.bgimg {
    background-image: url('../Images/forestbridge.jpg');
    min-height: 100%;
    min-width: 100%;
    background-position: center;
    background-size: cover;
}

.container-fluid {
    height: 100% !important;
}

.marginTop50 {
    margin-top: 50px !important;
}

#rightList {
    float: right;
}

.sm-image {
    width: 50px;
    height: 50px;
}

p {
  margin: 10px 0 !important;
}

#galleryRow {
    margin-top: 100px !important;
    width: 96%;
    margin-left: 2%;
}

.body-content {
    padding-top: 0px !important;
}

.disNone {
    display: none !important;
}

@media (max-width: 767px){
    #galleryRow {
        width: 96%;
        margin-left: 2%;
    }
    .body-content {
        padding-top: 3px !important;
    }
}

#galleryHr {
    background-color: white;
}
