<div class="backGround">
    <div class="login-form">
        <img src="../../images/perfil.png" class="logoMamae" alt="Mamãe Ama Muito"/>
        <span class="descLogin">O conteúdo selecionado encontra-se em um <strong>espaço segregado da ÁREA RESTRITA.</strong> Por isso, apresente <strong>novamente</strong> suas credenciais de acesso</span>
        <div class="form-group ">
            <input type="text" class="form-control" placeholder="Nome de Usuário"/>
            <i class="fa fa-user"></i>
        </div>
        <div class="form-group log-status">
            <input type="password" class="form-control" placeholder="Senha"/>
            <i class="fa fa-lock"></i>
        </div>
        <button class="button wi100"> Efetuar Login </button>
        <label style="text-align: right; color: red; font-weight: bold;"></label>
    </div>
<div>